<link rel="stylesheet" href="./tailwind.css" />
<seccion
  id="asesoria"
  role="tabpanel"
  aria-labelledby="asesorado-tab"
  class="flex flex-col gap-6"
>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mt-5 group">
      <label
        for="asesor"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Nombre del asesor</label
      >
      <select
        id="asesor"
        name="asesor"
        class="block w-full p-1 px-2.5 mt-4 text-black border border-gray-300 rounded-lg bg-gray-50 text-md focus:ring-blue-500 focus:border-blue-500"
      >
        <option selected disabled value="">Selecciona un asesor</option>
      </select>
    </div>
    <div class="relative z-0 w-full mt-5 group">
      <label
        for="tipo-juicio"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Tipo de juicio al que aplica</label
      >
      <select
        id="tipo-juicio"
        name="tipo-juicio"
        class="block w-full p-1 px-2.5 mt-4 text-black border border-gray-300 rounded-lg bg-gray-50 text-md focus:ring-blue-500 focus:border-blue-500"
      >
        <option selected disabled value="">Selecciona un tipo de juicio</option>
      </select>
    </div>
  </div>
  <div>
    <label for="resumen" class="block mb-2 font-medium text-black text-md"
      >Resumen de los hechos</label
    >
    <textarea
      id="resumen"
      rows="4"
      class="block p-2.5 w-full text-md text-black bg-gray-50 rounded-lg border border-gray-300"
      placeholder="Escribe aquí el resumen de los hechos"
    ></textarea>
  </div>
  <div>
    <label for="conclusion" class="block mb-2 font-medium text-black text-md"
      >Conclusión</label
    >
    <textarea
      id="conclusion"
      rows="4"
      class="block p-2.5 w-full text-md text-black bg-gray-50 rounded-lg border border-gray-300"
      placeholder="Escribe aquí la conclusión"
    ></textarea>
  </div>
  <div class="grid gap-3 md:grid-cols-2 md:gap-6">
    <div class="flex flex-col gap-3" id="recibido">
      <label class="font-medium text-black text-md-center"
        >El asesorado recibió:</label
      >
      <div class="flex items-center">
        <input
          id="cbx-requisitos"
          type="checkbox"
          value="1"
          name="recibido"
          data-name="Requisitos"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
        />
        <label for="cbx-requisitos" class="text-sm text-black ms-2"
          >Requisitos</label
        >
      </div>
      <div class="flex items-center">
        <input
          id="cbx-carta-compromiso"
          type="checkbox"
          value="2"
          name="recibido"
          data-name="Carta compromiso"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
        />
        <label for="cbx-carta-compromiso" class="text-sm text-black ms-2"
          >Carta compromiso</label
        >
      </div>
      <div class="flex items-center">
        <input
          id="cbx-citatorio"
          type="checkbox"
          value="3"
          name="recibido"
          data-name="Citatorio"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
        />
        <label for="cbx-citatorio" class="text-sm text-black ms-2"
          >Citatorio</label
        >
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <label class="font-medium text-black text-md"
        >¿El usuario cumple con los requisitos para recibir el servicio en esta
        institución?</label
      >
      <div class="flex items-center">
        <input
          id="yes-option"
          type="radio"
          value="yes"
          name="rb-requisitos"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-0"
        />
        <label for="yes-option" class="ml-2 text-sm font-medium text-black"
          >Si</label
        >
      </div>
      <div class="flex items-center">
        <input
          id="no-option"
          type="radio"
          value="no"
          name="rb-requisitos"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-0"
        />
        <label for="no-option" class="ml-2 text-sm font-medium text-black"
          >No</label
        >
      </div>
    </div>
  </div>
  <div class="flex items-start justify-end">
    <button
      id="btn-asesoria-next"
      type="button"
      class="px-5 text-center py-3 rounded bg-[#a52a2a] text-white hover:bg-[#db2424] mt-2 font-semibold transition duration-200 w-fit ml-auto"
    >
      Siguiente
    </button>
  </div>
</seccion>
