<link rel="stylesheet" href="./tailwind.css" />
<seccion
  id="domicilio"
  role="tabpanel"
  aria-labelledby="domicilio-tab"
  class="flex flex-col"
>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        name="calle"
        id="calle"
        class="block w-full px-0 pt-4 text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-md focus:outline-none focus:ring-0 peer"
        placeholder=" "
        value=""
        required
      />
      <label
        for="calle"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Calle</label
      >
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        name="numero-ext"
        id="numero-ext"
        class="block w-full px-0 pt-4 text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-md focus:outline-none focus:ring-0 peer"
        placeholder=" "
        value=""
        required
      />
      <label
        for="numero-ext"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Número exterior</label
      >
    </div>
  </div>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-6 group">
      <input
        type="text"
        name="numero-int"
        id="numero-int"
        class="block w-full px-0 pt-4 text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-md focus:outline-none focus:ring-0 peer"
        placeholder=""
        value=""
        required
      />
      <label
        for="numero-int"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Número interior (opcional)</label
      >
    </div>
    <form class="relative z-0 w-full mb-6 group" id="form-cp">
      <div class="relative">
        <input
          type="number"
          name="codigo-postal"
          id="codigo-postal"
          class="block w-full px-0 pt-4 text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-md focus:outline-none focus:ring-0 peer"
          placeholder=""
          pattern="[0-9]{5}"
          required
        />
        <button
          type="submit"
          id="buscar-cp"
          class="absolute top-0 right-0 inline-flex items-center px-2 py-1 text-sm font-medium text-center text-gray-900 translate-y-1/2 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:outline-none"
        >
          <svg class="w-3 h-3 mr-1" viewBox="0 0 20 20">
            <path
              d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z"
              stroke="currentColor"
              fill="none"
              fill-rule="evenodd"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          Buscar
        </button>
      </div>
      <label
        for="codigo-postal"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Código postal</label
      >
    </fo>
  </div>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-6 group">
      <input
        disabled
        type="text"
        name="estado"
        id="estado"
        class="block w-full px-0 pt-4 text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-md focus:outline-none focus:ring-0 peer"
        placeholder=""
        value=""
        required
      />
      <label
        for="estado"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Estado</label
      >
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input
        disabled
        type="text"
        name="municipio"
        id="municipio"
        class="block w-full px-0 pt-4 text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-md focus:outline-none focus:ring-0 peer"
        placeholder=""
        value=""
        required
      />
      <label
        for="municipio"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Municipio</label
      >
    </div>
  </div>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-6 group">
      <input
        disabled
        type="text"
        name="ciudad"
        id="ciudad"
        class="block w-full px-0 pt-4 text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none text-md focus:outline-none focus:ring-0 peer"
        placeholder=""
        value=""
        required
      />
      <label
        for="ciudad"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Ciudad</label
      >
    </div>
    <div class="relative z-0 w-full group">
      <label
        for="colonia"
        class="font-medium absolute text-md text-black duration-300 transform -translate-y-6 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-focus:-translate-y-6"
        >Colonia</label
      >
      <select
        id="colonia"
        name="colonia"
        class="block w-full p-1 px-2.5 mt-4 text-black border border-gray-300 rounded-lg bg-gray-50 text-md focus:ring-blue-500 focus:border-blue-500"
      >
        <option selected disabled value="">Selecciona una colonia</option>
      </select>
    </div>
  </div>
</seccion>
