/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 abr 2023, 14:30:34
    Author     : herna
*/
#header_left {
  float: left;
  display: inline-block;
  padding-right: 0px;
}

#header_right {
  float: right;
  display: inline-block;
  padding-left: 0px;
}

#usuario {
  float: right;
  margin-top: 10px;
  padding-left: 270px;
  margin-right: 40px;
}

#titulo {
  align-content: center;
  margin-top: 10px;
  width: 100%;
  text-align: -webkit-center;
}

/* funcionamiento básico del sistema de pestañas */
.tab-content {
  display: none;
}

.tab:target .tab-content,
.tab:last-of-type .tab-content {
  display: block;
}

.tab:target ~ .tab:last-of-type .tab-content {
  display: none;
}

/* parámetros para configurar las pestañas */
:root {
  --tabs-border-color: #b12a11;
  --tabs-border-size: 3px;
  --tabs-text-color: black;
  --tabs-dark-color: #ffffff;
  --tabs-lite-color: #b12a11;
  --tabs-width: 120px;
  --tabs-height: 40px;
}

/* aspecto básico*/
body {
  font-family: sans-serif;
  line-height: 1.2;
}

h2,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.tabs * {
  box-sizing: border-box;
}

/* esto es para posicionar las pestañas correctamente */
.tab-container {
  position: relative;
  padding-top: var(--tabs-height); /*en esta zona colocaremos las pestañas */
  margin-left: 15%;
  margin-right: 15%;
}

#tab1 > a {
  --tabs-position: 2;
}
#tab2 > a {
  --tabs-position: 1;
}
#tab3 > a {
  --tabs-position: 0;
}
#tab4 > a {
  --tabs-position: 3;
}
#tab5 > a {
  --tabs-position: 4;
}
#tab6 > a {
  --tabs-position: 5;
}
#tab7 > a {
  --tabs-position: 6;
}
#tab8 > a {
  --tabs-position: 7;
}
#tab9 > a {
  --tabs-position: 8;
}
.tab > a {
  text-align: center;
  position: absolute;
  width: calc(var(--tabs-width));
  height: calc(var(--tabs-height) + var(--tabs-border-size));
  top: 0;
  left: calc(
    var(--tabs-width) * var(--tabs-position)
  ); /*posición de cada pestaña*/
}

.tabs {
  padding: 10px;
  color: var(--tabs-text-color);
}

.tab-content {
  background-color: white;
  padding: 20px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 0px 20px 20px 20px;
  position: relative;
  z-index: 100;
}

.tab > a {
  background-color: var(--tabs-dark-color);
  padding: 10px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  border-bottom: 0;
}

.tab:target > a,
.tab:last-of-type > a {
  background-color: var(--tabs-lite-color);
  color: white;
  z-index: 200;
}

.tab:target ~ .tab:last-of-type > a {
  background-color: var(--tabs-dark-color);
  color: black;
  z-index: 0;
}

.domicilio {
  background-color: white;
  padding: 20px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 20px 20px 20px 20px;
  position: relative;
  z-index: 100;
  margin-bottom: 20px;
}

#imagen {
  margin-left: 1%;
  display: inline-block;
}

.menu {
  width: 100%;
  align-content: center;
  text-align: justify;
}

.navMenu {
  display: inline-flex;
  list-style-type: none;
}

.usuario {
  display: inline-block;
  margin-left: 1%;
}

.navTitulo {
  display: inline-block;
}
