.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-contenido {
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.modal-cerrar {
  text-align: right;
  margin-bottom: -20px;
}

.modal-cerrar .cerrar {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-cerrar .cerrar:hover {
  color: #000;
}

.modal-contenido h3 {
  font-size: 18px;
  margin-top: 0;
}

* {
  width: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
  font-weight: bold;
}

.header,
h2 {
  width: 100%;
  height: 150px;
  background-color: brown;
  text-align: center;
}

h1 {
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
}

h2 {
  height: 50px;
  padding-top: 20px;
  color: white;
  background-color: rgb(105, 60, 9);
}

.contenedor {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin: 10px;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
  border: 3px solid brown;
}

input[type='submit'] {
  padding: 10px;
  margin: 10px;
  background-color: rgb(211, 46, 46);
  border: 1px solid #000000;
  color: white;
  cursor: pointer;
}

.contenido input {
  max-width: 200px;
  text-align: center;
}

input[type='submit']:hover {
  background-color: rgb(122, 24, 24);
}

.contenido label {
  text-align: center;
}
