* {
  width: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
  font-weight: bold;
}

.header,
h2 {
  width: 100%;
  height: 150px;
  background-color: brown;
  text-align: center;
}

h1 {
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
}

h2 {
  height: 50px;
  padding-top: 20px;
  color: white;
  background-color: rgb(105, 60, 9);
}

.contenedor {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin: 10px;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
  border: 3px solid brown;
}

input[type='submit'] {
  padding: 10px;
  margin: 10px;
  background-color: rgb(211, 46, 46);
  border: 1px solid #000000;
  color: white;
  cursor: pointer;
}
.contenido input {
  max-width: 200px;
  text-align: center;
}

input[type='submit']:hover {
  background-color: rgb(122, 24, 24);
}

.contenido label {
  text-align: center;
}
